@font-face {
    font-family: 'Cascadia Code';
    src: url('fonts/CascadiaCode.woff2') format('woff2');
    font-style: normal;
}
@font-face {
    font-family: 'Cascadia Code';
    src: url('fonts/CascadiaCodeItalic.woff2') format('woff2');
    font-style: italic;
}
code{
    font-family: 'Cascadia Code', sans-serif;
}